TOKEN: str = "123456789:qwertyuiopasdfghjklkzxcvbnm"
API_ID: int = 123456789
API_HASH: str = "1q2w3e4r5t6y7u8i9o0p"
SUPER_ADMIN = 987654321
DATABASE_PATH = "bot.db"
WORKERS = 24
FORWARDING_CHAT = 123456789
MAX_FILE_SIZE_BYTES = 25 * 1024 * 1024
MEDIA_CAPTION_LIMIT = 2048
TEXT_MESSAGE_LIMIT = 4096
